#main-page{
  width: 100%;
  background-image: url("/public/1304041.jpg");
  background-attachment: fixed;
  color: white;
}


.card{
  width: 80%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-card{
  position: relative;
  float: left;
  width: 50%;
}

.img-card img{
  width: 80%;
  height: 80%;
  object-fit: cover;
}


